
    <script async type="application/javascript">
        {% comment %} $icon-size: 50px; {% endcomment %}
        new Vue({
          el: '#app',
          vuetify: new Vuetify(),
      
        data () {
          return {
            {% for a in book_list %}
            show{{ forloop.counter }}: false,
            {% endfor %}
            hover: false,
            isActive: false,
            {% comment %} items: [
              {
                src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg',
              },
              {
                src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
              },
              {
                src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
              },
              {
                src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
              },
            ], {% endcomment %}
            breadcrumb_items: [
            {% for string_, path_ in breadcrumb.items %}

            {
              text: '{{ string_ }}',
              href: '{{ path_ }}',
              disabled: {% if forloop.last %} true {% else %} false{% endif %},
            },
            {% endfor %}
            ],

            drawer: false,
            group: null,

          }
        },
        delimiters: ['[[', ']]']
  
        })


        let elements = document.getElementsByTagName("img");
        Array.prototype.forEach.call(elements, function (element) {
            element.classList.add("my-w-100")
        });
        
        {% if url_main == None %}
          {% if url_sub == None %}
          elements = document.getElementsByClassName("v-responsive__content");
          Array.prototype.forEach.call(elements, function (element) {
            element.classList.add("my-h-500p");
          });
          {% endif %}
        {% endif %}
      




      
      </script>

      <script async type="application/javascript">

        
        {% comment %} var els_tag_input = document.getElementsByClassName("checkbox_category"); {% endcomment %}
        var els_input_all = document.querySelectorAll('.checkbox_category, .checkbox_author, .checkbox_publisher');
        var els_input_category = document.querySelectorAll('.checkbox_category')
        var els_input_author = document.querySelectorAll('.checkbox_author')
        var els_input_publisher = document.querySelectorAll('.checkbox_publisher')

        var els_tag_vbtn = document.getElementsByClassName("my-checkbox");

        var els_card = document.getElementsByClassName("my-books");

        if (els_tag_vbtn){
          for (let i = 0; i < els_input_all.length; i++) {
            els_tag_vbtn[i].addEventListener('click', event => {
              if( els_input_all[i].checked ) {
                els_input_all[i].checked=false;
              }else{
                els_input_all[i].checked=true;
              }


              var card_category = "";
              var flag_author_checked = "";
              var card_publisher = "";

              for (let j = 0; j < els_card.length; j++ ) {
                card_category = els_card[j].getElementsByClassName("card_category");
                card_author = els_card[j].getElementsByClassName("card_author");
                card_publisher = els_card[j].getElementsByClassName("card_publisher");

                

                let flag_category_checked = false;
                let flag_author_checked = false;
                let flag_publisher_checked = false;

                let flag_category_checked_none_all = true;
                let flag_author_checked_none_all = true;
                let flag_publisher_checked_none_all = true;
                

                for (let k = 0; k < els_input_category.length; k++ ) {
                  if ( els_input_category[k].checked ) {
                    flag_category_checked_none_all = false;
                  }
                  if ( els_input_category[k].value == card_category[0].value ) {
                    if ( els_input_category[k].checked ) {
                      flag_category_checked = true;
                    }else{
                      flag_category_checked = false;
                    }
                  }
                }
                for (let k = 0; k < els_input_author.length; k++ ) {
                  if ( els_input_author[k].checked ) {
                    flag_author_checked_none_all = false;
                  }
                  if ( els_input_author[k].value == card_author[0].value ) {
                    if ( els_input_author[k].checked ) {
                      flag_author_checked = true;
                    }else{
                      flag_author_checked = false;
                    }
                  }
                }
                for (let k = 0; k < els_input_publisher.length; k++ ) {
                  if ( els_input_publisher[k].checked ) {
                    flag_publisher_checked_none_all = false;
                  }
                  if ( els_input_publisher[k].value == card_publisher[0].value ) {
                    if ( els_input_publisher[k].checked ) {
                      flag_publisher_checked = true;
                    }else{
                      flag_publisher_checked = false;
                    }
                  }
                }

                var display_flag = true;
                
                  if ( flag_category_checked_none_all == true ||  flag_category_checked == true) {
                  }else{
                    display_flag = false;
                  }
                  if ( flag_author_checked_none_all == true ||  flag_author_checked == true) {
                  }else{
                    display_flag = false;
                    els_card[j].style.display = "none";

                  }
                  if ( flag_publisher_checked_none_all == true ||  flag_publisher_checked == true) {
                  }else{
                    display_flag = false;
                  }

                  if ( display_flag == true) {
                    els_card[j].style.display = "block";
                  }else{
                    els_card[j].style.display = "none";
                  }

                }
            }
            );
          }

          var search_clear = document.getElementById("search_clear")
          search_clear.addEventListener('click', event => { 
            for (let i = 0; i < els_input_all.length; i++) { 
              els_input_all[i].checked = false;
            }
            for (let k = 0; k < els_card.length; k++) {
              els_card[k].style.display = "block";
            }
          })



          
          var card_category = document.getElementsByClassName("card_category");
        }

      </script>





      <!-- mokuji -->
      <script async type="application/javascript">
        var my_mokuji = document.getElementsByClassName("my_mokuji");
        var my_contents = document.querySelectorAll('.my_contents_title, .my_contents_subtitle');
        var id_ = "";
        var class_ = "";
        var judge_title = "";
        var judge_subtitle = "";
        var my_mokuji_str = "";
        var v_icon_right = '<i aria-hidden="true" class="v-icon notranslate mdi mdi-menu-right theme--light" style="font-size: 25px;"></i>';

        for (let i = 0; i < my_contents.length; i++) {
          class_ = my_contents[i]._prevClass;
          judge_title = class_.indexOf('my_contents_title');
          judge_subtitle = class_.indexOf('my_contents_subtitle');
          id_ = my_contents[i].parentNode.id
          text_ = my_contents[i].text.replace(/\n+/g,"")


          if ( judge_title != -1) {
              var str_title = `
              <div class="pb-1">                  
                <p class="text-my-text-color my-contents-title text-h6 text-md-h5 mt-2 mt-md-4 mb-1 mb-md-2">
                  <a style="text-decoration: none;" href="#${id_}">${text_}</a>
                </p>
              </div>
            `
            }else if ( judge_subtitle != -1) {
              var str_title = `
              <div class="pb-1" style="justify-content: center;">                  
                <p class="text-my-text-color text-h6_5 text-md-h6 pl-3 mb-1 mb-md-2">
                  ${v_icon_right}
                  <a style="text-decoration: none;" href="#${id_}">${text_}</a>
                </p>
              </div>
            `
            }
          str_title = str_title.replace(/\n+/g,"");
          my_mokuji_str =  my_mokuji_str + str_title;
        }
        my_mokuji[0].innerHTML = my_mokuji_str;
      </script>




      <script type="application/javascript">
        var book_img_urls = document.getElementsByClassName('my-img-small');

        {% load split_tags %}
        for (let i = 0; i < book_img_urls.length; i++) {
          book_img_url = book_img_urls[i].children[0].children[0].children[1];
          {% with request.path|split:"/" as skills %}
            {% if skills.1 == "books" and skills.2 == "" %}
              book_img_url.setAttribute("class", "my-border mt-5 elevation-2 my-w-100 kattene__imgpart_min-height")
            {% else %}
              book_img_url.setAttribute("class", "my-border mt-5 elevation-2 my-w-100")
            {% endif %}
          {% endwith %}

        }

        {% comment %} amazon_img_url. {% endcomment %}

      </script>




  <script>
 
  </script>













      {% comment %} .style.display ="none"; {% endcomment %}
      {% comment %} parentElement {% endcomment %}

      {% comment %} 


















  <script>
    const { createApp } = Vue
    const { createVuetify } = Vuetify
    
    const vuetify = createVuetify()
    
    const app = createApp({
      template: '#app-template',
    }).use(vuetify).mount('#app')
  </script> {% endcomment %}



  {% comment %} 
  
              breadcrumb_items: [
            {% for string_, path_ in breadcrumb.items %}

            {
              text: '{{ string_ }}'
              href: '{{ path_ }}'
              disabled: {% if forloop.last %} true {% else %} false{% endif %}
            },
            {% endfor %}
            ],
  
  
  {% endcomment %}



<!-- Toolbar -->
{% comment %} 
              initiallyOpen: ['public'],
              files: {
                html: 'mdi-language-html5',
                js: 'mdi-nodejs',
                json: 'mdi-code-json',
                md: 'mdi-language-markdown',
                pdf: 'mdi-file-pdf',
                png: 'mdi-file-image',
                txt: 'mdi-file-document-outline',
                xls: 'mdi-file-excel',
              },
              tree: [],
              items: [
                {
                  name: '.git',
                },
                {
                  name: 'node_modules',
                },
                {
                  name: 'public',
                  children: [
                    {
                      name: 'static',
                      children: [{
                        name: 'logo.png',
                        file: 'png',
                      }],
                    },
                    {
                      name: 'favicon.ico',
                      file: 'png',
                    },
                    {
                      name: 'index.html',
                      file: 'html',
                    },
                  ],
                },
                {
                  name: '.gitignore',
                  file: 'txt',
                },
                {
                  name: 'babel.config.js',
                  file: 'js',
                },
                {
                  name: 'package.json',
                  file: 'json',
                },
                {
                  name: 'README.md',
                  file: 'md',
                },
                {
                  name: 'vue.config.js',
                  file: 'js',
                },
                {
                  name: 'yarn.lock',
                  file: 'txt',
                },
              ], 
{% endcomment %}