
    <script async type="application/javascript">
        {% comment %} $icon-size: 50px; {% endcomment %}
        new Vue({
          el: '#app',
          vuetify: new Vuetify({
            defaultAssets: false,
            icons: {
              iconfont: 'mdi', // default - only for display purposes
            },
          }),
          components: {
            'carousel-3d': Carousel3d.Carousel3d,
            'slide': Carousel3d.Slide
          },
        
          methods: {
            onIntersect (entries, observer) {
              // More information about these options
              // is located here: https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API
              this.isIntersecting = entries[0].isIntersecting
            },
            slidePrev() {
              this.$refs.carousel.slidePrev();
            },
            slideNext() {
              this.$refs.carousel.slideNext();
            },
            updateCarousel(payload) {
              this.myCarouselData = payload.currentSlide;
            }
          },
          watch: {
            carouselData () {
              this.$refs.carousel.slideTo(this.carouselData);
            }
          },
        data () {
          return {
            slides: 5,
            isHidden: true,
            model: 0,
            obj_ranking: [
            {% for item in book %}
              { title: '{{ item.title }}', url: '{{ item.book_img_url|safe}}'},
            {% endfor %}
            ],
    
            {% for a in books_others %}
            show{{ forloop.counter }}: false,
            {% endfor %}
            show_card: true,
            show_list: false,
            hover: false,
            {% comment %} isActive: false, {% endcomment %}
            isIntersecting: false,
            search: '',
            search2: '',
            headers: [
              { text: '投稿日', value: 'post_day', sortable: true },
              { text: 'タイトル', value: 'title',},
              { text: 'カテゴリー', value: 'category', },
              { text: '著者', value: 'author' },
              { text: '出版社', value: 'issue' },
            ],
            desserts: [
            {% load split_tags %}
              {% for item in book_list %}

              {% with item.category_info.color_hex|split:'#' as color_ %}




              {
                title: '{{ item }}',
                category: '{{ item.category_info.get_category_display }}',
                author: '{{ item.author_info }}',
                issue: '{{ item.publisher_info }}',
                post_day: '{{ item.post_day | safe}}',
                url:"{% url 'book:book_info' data_info=item.post_day %}",
                text_color_rgb:'text-color-{{ color_.1 }}',

              },
              {% endwith %}
              {% endfor %}
              ],


              headers2: [
              { text: '投稿日', value: 'post_day', sortable: true, },
              { text: 'タイトル', value: 'title',},
            ],
            desserts2: [
              {% for item in others %}
              {
                title: '{{ item }}',
                post_day: '{{ item.post_day | safe}}',
                url:"{% url 'book:others_info' data_info=item.post_day %}",
              },
              {% endfor %}
              ],



              headers3: [
              { text: 'title1', value: 'title1', align: 'end',},
              { text: 'symbodl1', value: 'symbol1', align: 'center',},
              { text: 'title2', value: 'title2', align: 'start',},
              { text: 'symbol2', value: 'symbol2', align: 'center',},
              { text: 'title3', value: 'title3', align: 'start', width: "1000px"},

            ],
              desserts3: [
              {
                title1: 'HOME',
                title2:'INFO',
                title3:'CONTENT',
                
              },
              {
                title1: 'ホーム',
                symbol1: '┳',
                title2:'BOOK I.C. について',
                url1:"{% url 'book:top' %}",
                url2:"{% url 'book:book-ic' %}",
                icon1:"mdi-home",
                icon2:"mdi-office-building-marker-outline",
                
              },
              {
                title2: 'プロフィール',
                symbol1: '┣',
                url2:"{% url 'book:profile' %}",
                icon2:"mdi-account-circle-outline"
              },
              {
                title2: '書籍一覧',
                symbol1: '┣',
                url2:"{% url 'book:book' %}",
                title3: '本タイトル1',
                symbol2: '┳',
                icon2:"mdi-bookshelf",
                icon3:"mdi-book-open-page-variant"
              },
              {
                symbol1: '┃',
                title3: '本タイトル2 ...',
                symbol2: '┗',
                icon3:"mdi-book-open-page-variant"
              },              
              {
                title2: 'その他 記事',
                symbol1: '┣',
                url2:"{% url 'book:others' %}",
                title3: 'その他 記事1',
                symbol2: '┳',
                icon2:"mdi-dots-horizontal-circle-outline",
                icon3:"mdi-checkbox-blank-circle-outline"
              },
              {
                symbol1: '┃',
                title3: 'その他 記事2 ...',
                symbol2: '┗',
                icon3:"mdi-checkbox-blank-circle-outline"
              },
              {
                title2: 'プライバシーポリシー',
                symbol1: '┣',
                url2:"{% url 'book:privacy_policy' %}",
                icon2:"mdi-shield-lock-outline",
              },
              {
                title2: '問い合わせ',
                symbol1: '┣',
                url2:"{% url 'book:contact' %}",
                icon2:"mdi-email-outline"
              },
              {
                title2: 'サイトマップ',
                symbol1: '┗',
                url2:"{% url 'book:sitemap_book-ic' %}",
                icon2:"mdi-sitemap-outline"
              },






              ],



            breadcrumb_items: [
            {% for item_ in breadcrumb %}
            {
              icon: '{{ item_.icon_ }}',
              text: '{{ item_.title_info }}',
              href: '{{ item_.url_path_ }}',
              disabled: {% if forloop.last %} true {% else %} false{% endif %},
            },
            {% endfor %}
            ],

            drawer: false,
            group: null,

          }
        },
        delimiters: ['[[', ']]']
  
        })

{% comment %} 
        let elements = document.getElementsByTagName("img");
        Array.prototype.forEach.call(elements, function (element) {
            element.classList.add("my-w-100")
        });


        elements = document.getElementsByClassName("my-ranking");
        Array.prototype.forEach.call(elements, function (element) {
          element.classList.add("my-h-100");
        });        
        
 {% endcomment %}


        {% comment %} 
        {% if url_main == None %}
          {% if url_sub == None %}
          elements = document.getElementsByClassName("v-responsive__content");
          Array.prototype.forEach.call(elements, function (element) {
            element.classList.add("my-h-500p");
          });
          {% endif %}
        {% endif %}
         {% endcomment %}

         {% if url_main == None %}
         {% if url_sub == None %}
         elements = document.getElementsByClassName("v-responsive");
         Array.prototype.forEach.call(elements, function (element) {
           element.classList.add("my-h-100");
         });
         {% endif %}
       {% endif %}      

          {% comment %} const _sleep = (ms) => new Promise((resolve) => setTimeout(resolve, ms));
        
          await _sleep(8  000); {% endcomment %}
{% comment %}         
          let el_instagram = document.getElementById("instagram-embed-0");
          let el_instagram_doc = el_instagram.contentDocument || el_instagram.contentWindow.document;
          let el_instagram_content = el_instagram_doc.getElementsByClassName('Content EmbedFrame');
          el_instagram[0].remove(); {% endcomment %}



          window.onload = function() {
            let el_twitter = document.getElementsByClassName("twitter-tweet");
            el_twitter[0].classList.add("mx-auto");
            var el_instagram = document.getElementById("instagram-embed-0");
            el_instagram.classList.add("mx-auto");
            el_instagram.classList.add("my-position-static");
            {% comment %} var el_instagram_doc = el_instagram.contentDocument || el_instagram.contentWindow.document; {% endcomment %}
            {% comment %} var el_instagram_doc = el_instagram.contentDocument; {% endcomment %}
            {% comment %} var el_instagram_doc = el_instagram.contentWindow.document; {% endcomment %}
            

            {% comment %} el_instagram.parentNode.childNodes[1].ownerDocument {% endcomment %}
            
            

            {% comment %} var el_instagram_content = el_instagram_doc.getElementsByClassName('Content EmbedFrame'); {% endcomment %}
            {% comment %} el_instagram_content[0].remove();           {% endcomment %}
          }          

        </script>


        <script>
          (function () {
            var webfonts = document.getElementById('my_materialdesignicons');
            webfonts.rel = 'stylesheet';
          })();
        </script>





      <script async type="application/javascript">

        
        {% comment %} var els_tag_input = document.getElementsByClassName("checkbox_category"); {% endcomment %}
        var els_input_all = document.querySelectorAll('.checkbox_category, .checkbox_author, .checkbox_publisher');
        var els_input_category = document.querySelectorAll('.checkbox_category')
        var els_input_author = document.querySelectorAll('.checkbox_author')
        var els_input_publisher = document.querySelectorAll('.checkbox_publisher')

        var els_tag_vbtn = document.getElementsByClassName("my-checkbox");

        var els_card = document.getElementsByClassName("my-books");

        if (els_tag_vbtn){
          for (let i = 0; i < els_input_all.length; i++) {
            els_tag_vbtn[i].addEventListener('click', event => {
              if( els_input_all[i].checked ) {
                els_input_all[i].checked=false;
              }else{
                els_input_all[i].checked=true;
              }


              var card_category = "";
              var flag_author_checked = "";
              var card_publisher = "";

              for (let j = 0; j < els_card.length; j++ ) {
                card_category = els_card[j].getElementsByClassName("card_category");
                card_author = els_card[j].getElementsByClassName("card_author");
                card_publisher = els_card[j].getElementsByClassName("card_publisher");

                

                let flag_category_checked = false;
                let flag_author_checked = false;
                let flag_publisher_checked = false;

                let flag_category_checked_none_all = true;
                let flag_author_checked_none_all = true;
                let flag_publisher_checked_none_all = true;
                

                for (let k = 0; k < els_input_category.length; k++ ) {
                  if ( els_input_category[k].checked ) {
                    flag_category_checked_none_all = false;
                  }
                  if ( els_input_category[k].value == card_category[0].value ) {
                    if ( els_input_category[k].checked ) {
                      flag_category_checked = true;
                    }else{
                      flag_category_checked = false;
                    }
                  }
                }
                for (let k = 0; k < els_input_author.length; k++ ) {
                  if ( els_input_author[k].checked ) {
                    flag_author_checked_none_all = false;
                  }
                  if ( els_input_author[k].value == card_author[0].value ) {
                    if ( els_input_author[k].checked ) {
                      flag_author_checked = true;
                    }else{
                      flag_author_checked = false;
                    }
                  }
                }
                for (let k = 0; k < els_input_publisher.length; k++ ) {
                  if ( els_input_publisher[k].checked ) {
                    flag_publisher_checked_none_all = false;
                  }
                  if ( els_input_publisher[k].value == card_publisher[0].value ) {
                    if ( els_input_publisher[k].checked ) {
                      flag_publisher_checked = true;
                    }else{
                      flag_publisher_checked = false;
                    }
                  }
                }

                var display_flag = true;
                
                  if ( flag_category_checked_none_all == true ||  flag_category_checked == true) {
                  }else{
                    display_flag = false;
                  }
                  if ( flag_author_checked_none_all == true ||  flag_author_checked == true) {
                  }else{
                    display_flag = false;
                    els_card[j].style.display = "none";

                  }
                  if ( flag_publisher_checked_none_all == true ||  flag_publisher_checked == true) {
                  }else{
                    display_flag = false;
                  }

                  if ( display_flag == true) {
                    els_card[j].style.display = "block";
                  }else{
                    els_card[j].style.display = "none";
                  }

                }
            }
            );
          }

          var search_clear = document.getElementById("search_clear")
          search_clear.addEventListener('click', event => { 
            for (let i = 0; i < els_input_all.length; i++) { 
              els_input_all[i].checked = false;
            }
            for (let k = 0; k < els_card.length; k++) {
              els_card[k].style.display = "block";
            }
          })


          var card_category = document.getElementsByClassName("card_category");
        }





        

      </script>





      <!-- mokuji -->
      <script async type="application/javascript">
        var my_mokuji = document.getElementsByClassName("my_mokuji");
        var my_contents = document.querySelectorAll('.my_contents_title, .my_contents_subtitle');
        var id_ = "";
        var class_ = "";
        var judge_title = "";
        var judge_subtitle = "";
        var my_mokuji_str = "";
        var v_icon_right = '<i aria-hidden="true" class="v-icon notranslate mdi mdi-menu-right theme--light" style="font-size: 25px;"></i>';

        for (let i = 0; i < my_contents.length; i++) {
          class_ = my_contents[i]._prevClass;
          judge_title = class_.indexOf('my_contents_title');
          judge_subtitle = class_.indexOf('my_contents_subtitle');
          id_ = my_contents[i].parentNode.id
          text_ = my_contents[i].text.replace(/\n+/g,"")


          if ( judge_title != -1) {
              var str_title = `
              <div class="pb-1">                  
                <p class="text-my-text-color my-contents-title text-h6_5 text-md-h6 text-md-h5 mt-2 mt-md-4 mb-1 mb-md-2">
                  <a style="text-decoration: none;" href="#${id_}">${text_}</a>
                </p>
              </div>
            `
            }else if ( judge_subtitle != -1) {
              var str_title = `
              <div class="pb-0" style="justify-content: center;">                  
                <p class="text-my-text-color text-h7 text-md-h6_5 text-md-h6 pl-3 mb-0 d-inline">
                  ${v_icon_right}
                </p>
                <a class="d-inline text-my-text-color text-h7 text-md-h6_5 text-md-h6" style="text-decoration: none;" href="#${id_}">${text_}</a>
              </div>
            `
            }
          str_title = str_title.replace(/\n+/g,"");
          my_mokuji_str =  my_mokuji_str + str_title;
        }
        my_mokuji[0].innerHTML = my_mokuji_str;
      </script>



      <!-- image -->
      <script type="application/javascript">
        var book_img_urls = document.getElementsByClassName('my-img-small');
        {% comment %} var book_img_urls = document.getElementsByClassName('v-image__image v-image__image--cover'); {% endcomment %}
        
        {% load split_tags %}
        for (let i = 0; i < book_img_urls.length; i++) {
          book_img_url = book_img_urls[i].children[0].children[0].children[2];
          book_img_url = book_img_urls[i].children[0].children[0];
          {% comment %} book_img_url = book_img_urls[i]; {% endcomment %}
          {% with request.path|split:"/" as skills %}
            {% if skills.1 == "books" and skills.2 == "" %}
              {% comment %} book_img_url.setAttribute("class", "my-border mt-5 elevation-2 my-w-100 kattene__imgpart_min-height") {% endcomment %}
            {% else %}
            {% comment %} book_img_url.setAttribute("class", "my-border mt-5 elevation-2 my-w-100 kattene__imgpart_min-height") {% endcomment %}
            {% comment %} book_img_url.setAttribute("class", "my-border mt-5 elevation-2") {% endcomment %}
            {% endif %}
          {% endwith %}
        }
      </script>


      <!-- adsense -->
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

      <!-- data-table -->
      {% comment %} <script type="application/javascript">
        var sitemap_ = document.getElementsByClassName("v-data-table__mobile-row__cell");
       

        for (let i = 0; i < sitemap_.length; i++) {
          sitemap_[i].setAttribute("id", "my-text-left")
        }
      </script>
      <style scoped>

        #my-text-left {
            text-align: left;
        }
      </style> {% endcomment %}


      <!-- data-table -->
    <style>
      .my-table-sitemap table tbody td {
        border: none!important;
        padding-left: 5px!important;
        padding-right: 5px!important;
        width: 0!important;
        white-space: nowrap!important;
    }
      .my-table-sitemap tbody tr:hover {
            background-color: transparent !important;
      }
      .my-table-width-max {
        
      }
      .my-table-sitemap table tbody tr:first-child td {
        text-align: center!important;
        padding-bottom: 15px;
      }
      .my-table-sitemap table tbody tr:first-child td a {
        color: #9A9!important;
        border-bottom: none!important;
      }


  </style>
  {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script> {% endcomment %}
  {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hooper@0.2.1/dist/hooper.css"> {% endcomment %}
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/hooper@0.2.1/dist/hooper.min.js"></script>     {% endcomment %}




{% comment %} 


たて	| │ ┃ ｜ ∥	￤ ¦ ┆ ┇ ┊ ┋ ╎ ╏ ║ ╵ ╷ ╹ ╻ ╽ ╿ ❘ ❙ ❚
たてみぎ	├ ┝ ┠ ┣	┞ ┟ ┡ ┢ ╞ ╟ ╠
たてひだり	┤ ┥ ┨ ┫	┧ ┦ ┩ ┪ ╡ ╢ ╣
よこ	─ ━	┄ ┅ ┈ ┉ ╌ ╍ ═ ╴ ╶ ╸ ╺ ╼ ╾
よこうえ	┸ ┴ ┷ ┻	┵ ┶ ┹ ┺ ╧ ╨ ╩
よこした	┬ ┯ ┰ ┳	┭ ┮ ┱ ┲ ╤ ╥ ╦
みぎうえ	┐ ┓	˥ ⏋ ┑ ┒ ╕ ╖ ╗ ╮
みぎした	┘ ┛	˩ ⏌ ┙ ┚ ╛ ╜ ╝ ╯
ひだりうえ	┌ ┏	⎾ ┍ ┎ ╒ ╓ ╔ ╭
ひだりした	└ ┗	⎿ ┕ ┖ ╘ ╙ ╚ ╰
まんなか	┼ ┿ ╂ ╋	┽ ┾ ╀ ╁ ╃ ╄ ╅ ╆ ╇ ╈ ╉ ╊ ╪ ╫ ╬
ふとわく	┏┳━┓ ┗┻━┛	
ほそわく	┌┬─┐ └┴─┘	
けいせん	─ ━ │ ┃
┌ ┏ ┐ ┓
└ ┗ ┘ ┛
├ ┝ ┠ ┣
┤ ┥ ┨ ┫
┬ ┯ ┰ ┳
┴ ┷ ┸ ┻
┼ ┿ ╂ ╋	⎿ ⏌ ⎾ ⏋ ⏉ ⏊






{% endcomment %}