
<style>
    <!-- ヘッダー固定 & 追従 -->
    #header_menu{
      display: block; 
      position: fixed; /*ポジションを固定する*/
      top: 0px; /*一番上に設置*/
      left: 0px;
      z-index: 9999;  /*どの要素よりも上にくるように*/
      background-color: rgba(110,169,36,0.78); /*メニューバー背景色*/
      width: 100%; /*横幅を100%に*/
      padding: 0 auto;
      }
      #header_menu a {
      float: left; /*メニューを横並びにする*/
      font-size: 16px;
      color: #FFF;
      padding: 10px;
      }
      #header_menu a:after { /*floatでデザインが崩れないように*/
      display:block;
      clear: both;
      content:"";
      }
  
  
      #my-letter-spacing-title {
        letter-spacing: 2px!important;
     }
  
     .my-font-weight-title {
        font-weight: 600!important;
    }
  
    .text-white {
      color: #FFFFFF!important;
    }

    .text-h6_5 {
      font-size: 1.1rem!important;
    }

    .text-h7 {
      font-size: 0.95rem!important;
      font-weight: 500;
      letter-spacing: .0125em!important;
    }  
    .text-h5_5 {
      font-size: 1.3rem!important;
      font-weight: 400;
      letter-spacing: normal!important;
    }    

    .my-w-100 {
      width: 100%;
    }

    .my-h-500p {
      height: 500px;
    }

    .my-h-500p {
      height: auto;
     }

     .body {
      font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif;
      }     
     {% comment %} @media screen and (min-width:480px) { 
      .my-h-500p {
        max-height: 800px;
       }
    }
     @media screen and (min-width:960px) {
      .my-h-500p {
        height: 500px;
       }
    }     {% endcomment %}

  </style>
  
  
  
  <style lang=“stylus” scoped>
  
    .custom-caption {
      text-align: center;
      padding: 12px;
      color: white;
      background-color: rgba(0, 0, 0, .3);
  }
  
  .my-bg-color {
    background-color: #f5f8f5!important;
    /* #FEFFFE; */
  }
  
  .my-bg-color-glay {
    background-color: #455045!important;
    /* #FEFFFE; */
  }
  
  
  
  
  
  .my-text-color-glay {
    color: #9A9!important;
  }
  
  .my-text-color-title {
    color: #2b302b!important;
  }
  
  .my-text-color {
    color: #455045!important
  }

  
  
  .v-application {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
    }


  .v-application a {
    color: #455045;
  }

  .text-sm-h3 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .text-md-h3 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .text-lg-h3 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .text-sm-h4 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .text-md-h4 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .text-lg-h4 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .text-sm-h5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .text-md-h5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .text-lg-h5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .text-sm-h5_5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .text-md-h5_5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .text-lg-h5_5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .text-sm-h6 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }
  
  .text-md-h6 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .text-lg-h6 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .text-sm-h6_5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }
  
  .text-md-h6_5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .text-lg-h6_5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .v-application .text-sm-h3 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .v-application .text-md-h3 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .v-application .text-lg-h3 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .v-application .text-sm-h4 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }
  
  .v-application .text-md-h4 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .v-application .text-lg-h4 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .v-application .text-sm-h5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .v-application .text-md-h5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .v-application .text-lg-h5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .v-application .text-sm-h5_5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .v-application .text-md-h5_5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .v-application .text-lg-h5_5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .v-application .text-sm-h6 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }
  
  .v-application .text-md-h6 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .v-application .text-lg-h6 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .v-application .text-sm-h6_5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }
  
  .v-application .text-md-h6_5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .v-application .text-lg-h6_5 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }

  .v-card__title {
    line-height: 1.125em!important;
  }


  .my-text-color-light-glay {
    color: #f5f8f5!important;
  }
  
    
  .window-height-max-10 {
    max-height: 10vh;
  }
  
  .height-max-10 {
    max-height: 10%;
  }
  
  .flex-wrap-nowrap {
  flex-wrap: nowrap;
  }
  
  .my-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  object-fit: cover;
  overflow:hidden;
  height: 100%;
  }
  
  .my-container-max-width {
  max-width:1300px;
  margin:0 auto;
  }
  
  .my-header-container * {
  min-height: 10vh;
  max-height: 100px;
  }
  
  
  .text-h1_5 {
  font-size: 5rem;
  {% comment %} font-weight: 300; {% endcomment %}
  line-height: 5rem;
  letter-spacing: -0.011975em;
  }
  
  .text-footer {
    font-size: 0.7rem!important;
    letter-spacing: 0.025em!important;
  }

  .footer-min-height {
    min-height: 20px;
  }

  .my-carousel-under {
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
  
  #my-letter-spacing-3 {
    letter-spacing: 3px!important;
  }
  

  .my-letter-spacing-3 {
    letter-spacing: 3px!important;
  }
  
  #my-letter-spacing-5 {
    letter-spacing: 5px!important;
  }
  
  .flex-child-right {
    {% comment %} width: 42px; {% endcomment %}
    margin-right: 0!important;
    margin-left: auto!important;
  }
  
  .my-border-width {
    border-width: 0.1em!important;
  }

  .my-contents-title {
    padding: 0em 0.25em;/*上下 左右の余白*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #455045;/*左線*/
    border-bottom: solid 2px #455045;/*左線*/
  } 

  .my-contents-sub-title {
    padding: 0em 0.25em;/*上下 左右の余白*/
    background: transparent;/*背景透明に*/
    border-bottom: solid 2px #455045;/*左線*/
  }


  .my-border-color {
    border-color: #455045!important;
  }

  .my-border-color-title {
    border-color: #0000001f!important;
  }

  .my-border-color-light-gray {
    border-color: #f5f8f5!important;
  }


  .my-border-title {
    border: thin solid #0000001f;
  }

  .my-border {
    border: thin solid rgba(0,0,0,.12);
  }

  .my-border-bottom {
    border-bottom: thin solid rgba(0,0,0,.12);
  }

  .my-border-bottom-midium {
    border-bottom: medium solid rgba(0,0,0,.12);
  }

  .my-border-solid-medium {
    border: medium solid rgba(0,0,0,.12);
  }
  
  .my-border-solid-medium_gray {
    border: medium solid #455045;
  }
  
  {% load split_tags %}
  {% for color in category %}
  {% with color.color_hex|split:'#' as color_ %}
  .text-color-{{color_.1}} {
    color:{{color.color_hex}}!important;
  }
  {% endwith %}
  {% endfor %}


  


  blockquote {
    position: relative;
    padding: 40px 10px 10px 15px;
    box-sizing: border-box;
    font-style: italic;
    color: #455045;
    background: #f5f8f5;
    /* background: teal-light; */
}

blockquote:before{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0px;
    content: "“";
    font-family: sans-serif;
    color: #455045;
    font-size: 90px;
    line-height: 1;
}

{% comment %} blockquote figcaption:after{
  display: inline-block;
  position: absolute;
  bottom: -100;
  right: 0;
  content: "“";
  font-family: sans-serif;
  color: #455045;
  font-size: 90px;
  line-height: 1;
} {% endcomment %}

blockquote p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.7;
}

blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}

.blockquote-footer {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: #6c757d;
}
.blockquote-footer::before {
  content: "\2014\00A0";
}


#my_container {
  max-width: 100%;
 }
 @media screen and (min-width:480px) { 
  #my_container {
    max-width: 100%;
   }
}
 @media screen and (min-width:960px) {
  #my_container {
    max-width: 900px;
   }
}
 @media screen and (min-width:1264px) {
  #my_container {
    max-width: 1200px;
   }
}
@media screen and (min-width:1400px) {
  #my_container {
    max-width: 1350px;
   }
}
 
.my-checkbox label {
  position: relative;
  display: block;
}

.my-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

{% comment %} !button .my-checkbox label input[type="checkbox"]:checked {
  background-color: black;
  color: white;
} {% endcomment %}

.my-checkbox:has(> span input[type="checkbox"]:checked) {
  background-color: #455045;
}

.my-h-100 {
  height: 100%;
}

.my-w-100 {
  width: 100%;
}
.my-w-50 {
  width: 50%;
}

.my-position-static {
  position: static!important;
}

{% comment %} 
label input[type="checkbox"]:checked {
  background-color: black;
  color: white;
}
 {% endcomment %}

  {% comment %} 
  
  .v-btn--icon.v-size--small {
    height: 20px;
    width: 20px;
  }
  
  .v-btn--fab.v-size--default .v-icon, .v-btn--fab.v-size--small .v-icon, .v-btn--icon.v-size--default .v-icon, .v-btn--icon.v-size--small .v-icon {
    font-size: 12px;
  }
  
  
   {% endcomment %}

   


   .my-image-top-space {
    height: 40vh;
   }
   @media screen and (min-width:480px) { 
    .my-image-top-space {
      height: 60vh;
     }
  }
   @media screen and (min-width:960px) {
    .my-image-top-space {
      height: 60vh;
     }
  }
   @media screen and (min-width:1264px) {
    .my-image-top-space {
      height: 80vh;
     }
  }
  @media screen and (min-width:1400px) {
    .my-image-top-space {
      height: 90vh;
     }
  }








  </style>




























{% comment %} kattene {% endcomment %}
  <style>
    .kattene {
      {% comment %} border: 1px solid rgba(0, 0, 0, 0.1); {% endcomment %}
      {% comment %} border-radius: 3px; {% endcomment %}
      padding: 10px;
      padding-bottom: 5px;
      margin-bottom: 1em;
      box-sizing: border-box; }
    
    .kattene div{
      margin: 0;
    }
    
    .kattene__imgpart {
      text-align: center; }
    
      .kattene__imgpart img {
        margin: 0;
        max-height: 360px;
        min-height: 360px;
        width: auto;
      }

      .kattene__imgpart {
        text-align: center; }
      

    .kattene__imgpart_min-height {
      min-height: 0px!important;
      
    }




    @media screen and (min-width: 900px) {

    .kattene__imgpart {
      text-align: center; }
    
      .kattene__imgpart img {
        margin: 0;
        max-height: 540px;
        min-height: 540px;
        width: auto;
      }

      .kattene__imgpart {
        text-align: center; }
      

    .kattene__imgpart_min-height {
      min-height: 0px!important;
      
    }
  
  }





      .kattene__imgpart img.kattene__shadow {
        -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8);
        box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8);
        -o-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8);
        -ms-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8);
      }
    
    .kattene__description {
      font-size: 0.8em; }
    
    .kattene .kattene__btns {
      width: 100%;
      margin-top: 0.5em; }
    
      .kattene__btns:after {
        display: block;
        clear: both;
        height: 0px;
        visibility: hidden;
        content: "."; }
    
      .kattene__btns > div {
        float: left;
        margin-bottom: 5px; }
    
      .kattene__btns .kattene__btn {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
       }
    
      .kattene__btns.__three > div {
        width: 32.66667%; }
    
        .kattene__btns.__three > div:not(:last-child) {
          margin-right: 1%; }
    
      .kattene__btns.__two > div {
        width: 49.5%; }
    
        .kattene__btns.__two > div:nth-child(odd) {
          margin-right: 1%; }
    
    @media screen and (max-width: 9000px) {
      .kattene__imgpart {
        padding-bottom: 1em; }
      .kattene .kattene__btns {
        margin-top: 0.5em; }
      .kattene__btns.__five > div {
      width: 49.5%; }
      .kattene__btns.__five > div:nth-child(odd) {
        margin-right: 1%; }
      .kattene__btns.__five > div:last-child {
        margin-right: 0;
        float: right; }
    
      .kattene__btns.__four > div {
        width: 49.5%; }
    
        .kattene__btns.__four > div:nth-child(odd) {
          margin-right: 1%; }
    
      .kattene__btns.__one > div {
        width: 50%;
        margin-left: 25%; } }
    @media screen and (min-width: 9001px) {
    
      .kattene {
        display: table;
        width: 100%; }
    
      .kattene__imgpart {
        display: table-cell;
        width: 20%;
        padding-bottom: 5px;
      }
    
      .kattene__infopart {
        display: table-cell;
        vertical-align: top;
        position: relative;
        padding-left: 10px;
        width: 80%; }
    
      .kattene .kattene__description {
        margin-bottom: 4em;
      }
    
      .kattene__btns {
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        padding-right: 10px; }
    
      .kattene__btns.__five > div {
        width: 19.2%; }
    
        .kattene__btns.__five > div:not(:last-child) {
          margin-right: 1%; }
    
        .kattene__btns.__four > div {
          width: 24.25%; }
    
          .kattene__btns.__four > div:not(:last-child) {
            margin-right: 1%; }
    
        .kattene__btns.__two > div {
          width: 49.5%; }
    
          .kattene__btns.__two > div:not(:last-child) {
            margin-right: 1%; }
    
        .kattene__btns.__one > div {
          width: 49.5%;
          float: right; } }
    
    .kattene .kattene__btn {
      appearance: none;
      background-color: #54c0d1;
      {% comment %} border: 0; {% endcomment %}
      {% comment %} border-radius: 0; {% endcomment %}
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
      font-size: 1em;
      -webkit-font-smoothing: antialiased;
      font-weight: 600;
      line-height: 1;
      padding: 0.75em 0;
      text-decoration: none;
      transition: background-color 150ms ease;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap; }
    
      .kattene__btn:hover, .kattene__btn:focus {
        background-color: #439aa7;
        color: #fff !important; }
    
      .kattene__btn:disabled {
        cursor: not-allowed;
        opacity: 0.5; }
    
        .kattene__btn:disabled:hover {
          background-color: #54c0d1; }
    
    .kattene__btn.__small {
      padding: 0.55em;
      font-size: 0.9em; }
    
    .kattene__btn.__orange {
      background-color: #FF9901;
      -webkit-box-shadow: 0 5px 0 #cc7a01;
      -moz-box-shadow: 0 5px 0 #cc7a01;
      box-shadow: 0 5px 0 #cc7a01;
      -o-box-shadow: 0 5px 0 #cc7a01;
      -ms-box-shadow: 0 5px 0 #cc7a01;
      margin-bottom: 5px;
      border-radius: 3px;
      text-align: center; }
    
      .kattene__btn.__orange:hover {
        background-color: #cc7a01; }
    
      .kattene__btn.__orange i {
        font-weight: bold; }
    
        .kattene__btn.__orange i:before {
          vertical-align: middle;
          font-size: 1.2em;
          margin-right: 0.2em; }
    
    .kattene__btn.__blue {
      background-color: #007dcd;
      -webkit-box-shadow: 0 5px 0 #0064a4;
      -moz-box-shadow: 0 5px 0 #0064a4;
      box-shadow: 0 5px 0 #0064a4;
      -o-box-shadow: 0 5px 0 #0064a4;
      -ms-box-shadow: 0 5px 0 #0064a4;
      margin-bottom: 5px;
      border-radius: 3px;
      text-align: center; }
    
      .kattene__btn.__blue:hover {
        background-color: #0064a4; }
    
      .kattene__btn.__blue i {
        font-weight: bold; }
    
        .kattene__btn.__blue i:before {
          vertical-align: middle;
          font-size: 1.2em;
          margin-right: 0.2em; }
    
    .kattene__btn.__red {
      background-color: #c20004;
      -webkit-box-shadow: 0 5px 0 #9b0003;
      -moz-box-shadow: 0 5px 0 #9b0003;
      box-shadow: 0 5px 0 #9b0003;
      -o-box-shadow: 0 5px 0 #9b0003;
      -ms-box-shadow: 0 5px 0 #9b0003;
      margin-bottom: 5px;
      border-radius: 3px;
      text-align: center; }
    
      .kattene__btn.__red:hover {
        background-color: #9b0003; }
    
      .kattene__btn.__red i {
        font-weight: bold; }
    
        .kattene__btn.__red i:before {
          vertical-align: middle;
          font-size: 1.2em;
          margin-right: 0.2em; }
    
    .kattene__btn.__green {
      background-color: #0BBD80;
      -webkit-box-shadow: 0 5px 0 #099766;
      -moz-box-shadow: 0 5px 0 #099766;
      box-shadow: 0 5px 0 #099766;
      -o-box-shadow: 0 5px 0 #099766;
      -ms-box-shadow: 0 5px 0 #099766;
      margin-bottom: 5px;
      border-radius: 3px;
      text-align: center; }
    
      .kattene__btn.__green:hover {
        background-color: #099766; }
    
      .kattene__btn.__green i {
        font-weight: bold; }
    
        .kattene__btn.__green i:before {
          vertical-align: middle;
          font-size: 1.2em;
          margin-right: 0.2em; }
    
    .kattene__btn.__pink {
      background-color: #e1325b;
      -webkit-box-shadow: 0 5px 0 #b42849;
      -moz-box-shadow: 0 5px 0 #b42849;
      box-shadow: 0 5px 0 #b42849;
      -o-box-shadow: 0 5px 0 #b42849;
      -ms-box-shadow: 0 5px 0 #b42849;
      margin-bottom: 5px;
      border-radius: 3px;
      text-align: center; }
    
      .kattene__btn.__pink:hover {
        background-color: #b42849; }
    
      .kattene__btn.__pink i {
        font-weight: bold; }
    
        .kattene__btn.__pink i:before {
          vertical-align: middle;
          font-size: 1.2em;
          margin-right: 0.2em; }
        </style>

<style>
  .VueCarousel-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing:border-box;
  }
</style>

<style>
  .my-google-adsense-multiplex {
    min-width: 250px;
    min-height: 250px;
  }

  .my-google-adsense-infeed {
    min-width: 250px;
    min-height: 250px;
  }

  .my-google-adsense-display {
    min-width: 250px;
    min-height: 250px;
  }

  .adsbygoogle {
    min-width: 250px;
  }
</style>


        {% comment %} <style>
          .application {
            font-family: Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
          }

        </style> {% endcomment %}




