<div class="my-google-adsense-multiplex">
<script type="application/javascript" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1203419703310974"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; min-width:250px;"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-1203419703310974"
     data-ad-slot="1486802174"></ins>
<script type="application/javascript">
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>