{% comment %} <script type="application/javascript" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1203419703310974"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; min-width:250px;"
     data-ad-format="fluid"
     data-ad-layout-key="+3b+rb+2w-6t+70"
     data-ad-client="ca-pub-1203419703310974"
     data-ad-slot="8463026648"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
 {% endcomment %}
