{% load static %}



<v-img
{% comment %} src="{{ img_url | safe}}" {% endcomment %}
{% comment %} src="/media/{{ img_url | safe}}" {% endcomment %}

src={% if amazon_url_text != "" %}"{{ img_url | safe}}"{%else%}"/media/{{ img_url | safe}}"{%endif%}
{% comment %} lazy-src="" {% endcomment %}
{% comment %} aspect-ratio="1" {% endcomment %}
class="grey lighten-2 mb-3 mt-3 mx-auto"
style="max-width:360px; width: auto;"
transition="scale-transition"
center
>


{% if item %}
<a href="{% if amazon_url_text != "" %}{% url 'book:book_info' item.post_day %}{%else%}{% url 'book:others_info' item.post_day %}{%endif%}" class="my-w-100 my-h-100" style="position: absolute">
  <div>
  
  </div>
  </a>
{% endif %}
<template v-slot:placeholder>
<v-row
  class="fill-height ma-0"
  align="center"
  justify="center"
>


  <v-progress-circular
    indeterminate
    color="grey lighten-5"
  ></v-progress-circular>
</v-row>
</template>

{% if item %}

  {% if amazon_url_text != "" %}
  <div class="my-h-100 my-w-100">
  <a d-flex class="my-h-100 my-w-100">
  </a>

  <div class="d-flex my-h-100 my-w-100">
    <div class="ml-auto mt-auto mb-0 my-w-50 mr-0 ml-auto" style="">
        <a href="{{amazon_url_text}}" class="my-w-100" target="_blank" style="z-index: 100; position: relative;" >
          <img
            class="my-w-100 my-h-100" style="left: auto; right: auto; background: rgba(255,255,255,.3);z-index: 100; max-height: 150px;"  src="{% static "static/amazon-ar21.svg" %}">
          </img>
        </a>
    </div>
  </div>

  </div>

  {% endif %}
  {% endif %}
</v-img>


