      <div class="my-container-max-width" style="height: 30vh;"></div>

      <div class="q-py-xl my-container-max-width">
        <div class="d-flex">
        <p id="my-letter-spacing-3" class="d-inline-flex mx-auto text-center my-font-weight-title text-h5 text-md-h4 my-text-color-title my-letter-spacing-3">
          <v-icon size="36" class="mr-5" style="align-items: center;">{{ icon_ }}</v-icon>
          {{text}}</p>
        </div>
      </div>

      <div class="my-container-max-width" style="height: 50vh;"></div>