

{% if request.path != "/"  %}
<h1>{{ request.path }}</h1>
<v-row
  no-gutters
  style="min-width: 250px; max-width:100%;"
  class=""
  
>
  <v-col
  cols="12"
  align-self="center"
  style="min-width: 250px;"
  class="mx-auto my-auto"
  >

  {% include 'google/adsense_display.html' %}


  </v-col>
</v-row>

{% endif %}




<v-row
no-gutters
>

<v-col
  cols="12"
  align-self="center">
  <div style="display: inline-block;">
        <v-breadcrumbs :items="breadcrumb_items" large class="my-text-color py-2 pl-0">
            <template v-slot:item="{ item }" class="my-text-color">
              <v-breadcrumbs-item
                :href="item.href"
                :disabled="item.disabled"
                class="my-text-color"
            >
            <v-icon size="22px">[[ item.icon]]</v-icon>
                [[ item.text.toUpperCase() ]]
              </v-breadcrumbs-item>
            </template>
            <template v-slot:divider>
                <v-icon>mdi-chevron-right</v-icon>
            </template>
          </v-breadcrumbs>


        </div>
        </v-col>
      </v-row>
