


  
  {% for book_ in book_list %}

    {% if forloop.counter == 3 %}
      <v-col
      cols="12"
      sm="6"
      lg="4"
      align-self="center"
      class="px-3 mb-14 mx-auto ml-md-0 mr-md-auto mt-5 mb-auto"
    >
    {% include 'google/adsense_infeed.html' %}
    </v-col>
    {% endif %}


      <v-col
        cols="12"
        sm="6"
        lg="4"
        align-self="center"
        class="px-3 mb-14 mx-auto ml-md-0 mr-md-auto mt-5 mb-auto"
      >
    
  
      <v-card
        class="mx-auto"
        elevation="15"
        style=""
      >
        <v-img min-width="100"
        >{{ book_.amazon_url | safe }}</v-img>
    
        <div style="background-color:white;">
        <v-card-text class="pb-0 my-text-color" style="border-top: dashed 0.1em #455045;">
          {{ book_.post_day | safe }}
        </v-card-text>
  
        <v-card-title class="pb-0 pt-1">
          {{ book_.title | safe }}
        </v-card-title>

        {% comment %}   
        <v-card-text class="ms-2">
          <v-icon color="#9A9" size="14">mdi-eye</v-icon>
          <a class="ms-1 me-3 text-subtitle-2 text-md-subtitle-1 my-text-color-glay">XXX,XXX,XXX</a>
        </v-card-text>
        {% endcomment %}
        
        <v-card-actions>
          <v-btn color="{{book_.category_info.color_hex}}" elevation="1" outlined rounded small>
            <form class="d-inline-block" action="{% url 'book:book' %}" method="post">{% csrf_token %}
              <input type="submit" href="{% url "book:book" %}" value="{{book_.category_info.get_category_display}}">
            </form>
          </v-btn>
  
  
          <v-btn color="#455045" elevation="1" outlined rounded small>
            <form class="d-inline-block" action="{% url 'book:book' %}" method="post">{% csrf_token %}
              <input type="submit" href="{% url "book:book" %}" value="{{ book_.author_info }}">
            </form>
          </v-btn>
          <v-btn color="#455045" elevation="1" outlined rounded small>
            <form class="d-inline-block" action="{% url 'book:book' %}" method="post">{% csrf_token %}
              <input type="submit" href="{% url "book:book" %}" value="{{ book_.publisher_info}}">
            </form>
          </v-btn>
        </v-card-actions>
        <v-card-text>
          {{ book_.contents_synopsis | safe }}
        </v-card-text>
  
        <v-spacer></v-spacer>


  
        <v-card-actions>
          <v-btn color="#1aa179" text class="mx-auto" style="width:100%;" href ="{% url 'book:book_info' book_.post_day %}">
          この記事を読む
        </v-btn>
        </v-card-actions>
  
  
        {% comment %} 
    
        <v-expand-transition>
          <div v-show="show">
            <v-divider></v-divider>
    
  
          </div>
        </v-expand-transition> {% endcomment %}
      </div>
      </v-card>
    </v-col>
    {% endfor %}
  
  </v-row>
  
  