{% load static %}

{% load get_img_src %}
{% load get_tag_el %}


  {% for book_ in books_others %}

    {% comment %} {% if forloop.counter == 2 %}
      <v-col
      cols="12"
      sm="6"
      lg="4"
      align-self="center"
      class="mb-14 mx-auto mt-5"
    >
    {% include 'google/adsense_infeed.html' %}
    </v-col>
    {% endif %} {% endcomment %}


     
    <v-col
    cols="12"
    sm="12"
    lg="11"
    class="px-3 mb-14 mx-auto mr-md-auto mt-5 mb-auto"
  >



  <v-card
    class="mx-auto my-books"
    elevation="15"
    name="category"
  >



<v-row no-gutters>
  <v-col
    cols="5"
    sm="4"
    lg="2"
    class="mx-auto mr-md-auto mb-auto my-auto"
    >          
        <div class="my-img-small">

          {% if book_.book_img_url is not None %}
            <a {{ book_.book_img_url | get_tag_el:"a"|safe }}>
              {% with book_.book_img_url|get_img_src:'src' as img_url %}
              {% include 'block/img_small.html' with img_url=img_url %}
              {% endwith %}
            </a>
          {% else %}
            {% include 'block/img_small.html' with img_url=book_.image %}
          {% endif %}



    </div>





</v-col>
  
  <v-col
    cols="7"
    sm="8"
    lg="10"
    class="px-1 mx-auto mr-md-auto mb-0 d-flex align-center flex-column"
    v-intersect="onIntersect"
  >    


  
      <v-card-text class="pb-0 text-sm-center my-text-color px-1 text-left">
        {{ book_.post_day | safe }}
      </v-card-text>
      
      <div class="my-w-100 d-flex">
        <v-card-title class="my-text-color-title mx-sm-auto px-1 pt-1 pt-lg-4 ml-0 pb-0">
          {{ book_.title | safe }}
        </v-card-title>
      </div>


      {% if book_.book_img_url is not None %}

        <v-card-actions class="pl-0 d-block">
          <v-btn class="my-1 mx-1" color="{{book_.category_info.color_hex}}" elevation="1" outlined rounded small>
            {% comment %} <form class="d-inline-block" action="{% url 'book:book' %}" method="post">{% csrf_token %} {% endcomment %}
              <input class="card_category" type="submit" name="category" href="{% url "book:book" %}" value="{{book_.category_info.get_category_display}}">
            {% comment %} </form> {% endcomment %}
          </v-btn>


          <v-btn class="my-1 mx-1" color="#455045" elevation="1" outlined rounded small>
            {% comment %} <form class="d-inline-block" action="{% url 'book:book' %}" method="post">{% csrf_token %} {% endcomment %}
              <input class="card_author" type="submit" name="author" href="{% url "book:book" %}" value="{{ book_.author_info }}">
            {% comment %} </form> {% endcomment %}
          </v-btn>

          <v-btn class="my-1 mx-1" color="#455045" elevation="1" outlined rounded small>
            {% comment %} <form class="d-inline-block" action="{% url 'book:book' %}" method="post">{% csrf_token %} {% endcomment %}
              <input class="card_publisher" type="submit" name="publisher" href="{% url "book:book" %}" value="{{ book_.publisher_info}}">
            {% comment %} </form> {% endcomment %}
          </v-btn>
        </v-card-actions>


    <v-card-text class="d-none d-sm-block">
      <p class="mx-auto mb-2 text-center">— あらすじ —</p>
      {{ book_.contents_synopsis | safe }}
    </v-card-text>
    

    <v-card-actions class="d-none d-md-block mt-auto mb-0 text-end my-w-100" style="align-items:flex-end;vertical-align:bottom">
      <div class="my-w-100" style="height:100%">
        <v-btn color="#1aa179" outlined class="mx-auto" style="width:100%;" href ="{% url 'book:book_info' book_.post_day %}">
        この記事を読む
      </v-btn>
    </div>
  </v-card-actions>


  {% else %}
  <v-card-text class="d-none d-sm-block">
    <p class="mx-auto mb-2 text-center">— あらすじ —</p>
    {{ book_.contents_synopsis | safe }}
  </v-card-text>
  

  <v-card-actions class="d-none d-md-block mt-auto mb-0 text-end my-w-100" style="align-items:flex-end;vertical-align:bottom">
    <div class="my-w-100" style="height:100%">
      <v-btn color="#1aa179" outlined class="mx-auto" style="width:100%;" href ="{% url 'book:others_info' book_.post_day %}">
      この記事を読む
    </v-btn>
  </div>
</v-card-actions>




  {% endif %}


  </v-col>
</v-row>

<v-col
cols="12"
class="px-1 py-0 mx-auto mr-md-auto mb-auto d-md-none"
style="border-top: dashed 0.1em #455045;"
>            <v-expand-transition>
<div v-show="show{{ forloop.counter }}">

<v-card-text>
  <p class="mx-auto mb-2 text-center">{% if book_.book_img_url is not None %}— あらすじ —{%endif%}</p>
  {{ book_.contents_synopsis | safe }}
</v-card-text>
</div>
</v-expand-transition>

<v-spacer></v-spacer>

<v-card-actions>
  <div class="my-w-100">
  <v-btn color="#1aa179" outlined class="mx-auto" style="width:100%;" href ="{% if book_.book_img_url is not None %}{% url 'book:book_info' book_.post_day %}{%else%}{% url 'book:others_info' book_.post_day %}{%endif%}">
  この記事を読む
</v-btn>
</div>
<div class="pl-3 pr-1 d-sm-none">
<v-btn
icon
outlined
@click="show{{ forloop.counter }} = !show{{ forloop.counter }}"
>
<v-icon>[[ show{{ forloop.counter }} ? 'mdi-chevron-up' : 'mdi-chevron-down' ]]</v-icon>
</v-btn>
</div>
</v-card-actions>
 
</v-col>







</v-card>
</v-col>



    {% empty %}
    <v-col
    cols="12"
    sm="6"
    lg="4"
    align-self="center"
    class="px-3 mb-14 mx-auto ml-md-0 mr-md-auto mt-5 mb-auto"
  >      
  <p>該当書籍が見つかりません。</p>
    </v-col>
    {% endfor %}

    
  

  
  