<head>
    {% load static %}

    <meta charset="utf-8">
    {% if  DEBUG == False %}
        <!-- Google ADSense -->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1203419703310974" crossorigin="anonymous"></script>

        
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BS7M4Z8XRZ"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-BS7M4Z8XRZ');
        gtag('config', 'UA-244839165-1');
        </script>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KKTTVX3');</script>
        <!-- End Google Tag Manager -->

    {% endif %}      



    

    <title>
        {% with breadcrumb|length as el_ %}
            {% if el_ == 1 %}BOOK I.C. ～本の感想を創造するブログ～
            {% elif el_ == 2 %}{{breadcrumb.1.title_info}} | BOOK I.C.
            {% elif el_ == 3 %}【本感想 ブログ】 {{breadcrumb.2.title_info}} | BOOK I.C.
            {% endif %}
        {% endwith %}
    </title>

    {% comment %} <link rel="shortcut icon" href="{% static "static/media8.jpg" %}" /> {% endcomment %}
    <link rel="icon" class="my-icon" href="{% static "static/book-ic_icon.svg" %}" type="image/svg+xml">




    <!-- jQuery -->
        {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> {% endcomment %}

    <!-- VUETIFY -->
    {% comment %} <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> {% endcomment %}
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet"> {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- VUETIFY-icon -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet" id="my_materialdesignicons"> {% endcomment %}



    {% comment %} <!-- Noto Sans JP -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap" rel="stylesheet">
    {% endcomment %}


    <!-- sawarabi gothic -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">


    <meta name="theme-color" content="#455045">



    <meta name="keywords" content="book-ic,本,本感想,感想,書評,書店,小説,文庫,ブログ,個人ブログ,読書,書籍,記録,ネタバレ読書,読書記録">



    <!-- SEO サムネイル画像-->
    <meta name="thumbnail" content="{% static "static/book-ic_picture.svg" %}" />



    <!-- meta twitter -->

        {% comment %} <!-- hooper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hooper@0.2.1/dist/hooper.css">
    <script src="https://cdn.jsdelivr.net/npm/hooper@0.2.1/dist/hooper.min.js"></script> {% endcomment %}

{% comment %} 
    <!-- vue carousel -->
    <script src="https://cdn.jsdelivr.net/npm/vue-carousel@0.18.0/dist/vue-carousel.min.js"></script>
     {% endcomment %}

    <!-- vue-carousel-3d -->
    <script src="https://cdn.jsdelivr.net/npm/vue-carousel-3d@0.2.0/dist/vue-carousel-3d.min.js"></script>

    <!-- 正規化 -->
    {% comment %} <link rel="canonical" href={{ request.build_absolute_uri }} /> {% endcomment %}
    {% with breadcrumb|length as el_ %}
        {% if el_ == 1 %}<link rel="canonical" href="{{ breadcrumb.0.url_path_ }}" />
        {% elif el_ == 2 %}<link rel="canonical" href="{{ breadcrumb.1.url_path_ }}" />
        {% elif el_ == 3 %}
            {% if breadcrumb.1.title_info == "書籍一覧" %}
                <link rel="canonical" href="{{ breadcrumb.2.url_path_ }}1/" />
            {% else %}
                <link rel="canonical" href="{{ breadcrumb.2.url_path_ }}" />
            {% endif %}
            
        {% endif %}
    {% endwith %}
        



    <!-- adsense 広告-->
    {% if  DEBUG == False %}
    <script type="application/javascript" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1203419703310974"
     crossorigin="anonymous"></script>
     {% endif %}      


</head>






<!-- og 設定 -->
<!-- １．page type -->
{% if breadcrumb|length == 1 %}<meta property="og:type" content="website" />
{% else %}<meta property="og:type" content="article"/>
{% endif %}
<!-- ２．title -->
{% with breadcrumb|length as el_ %}
    {% if el_ == 1 %}<meta property="og:title" content="BOOK I.C. ～本の感想を創造するブログ～"/>
    {% elif el_ == 2 %}<meta property="og:title" content="{{breadcrumb.1.title_info}} | BOOK I.C."/>
    {% elif el_ == 3 %}<meta property="og:title" content="【本感想 ブログ】 {{breadcrumb.2.title_info}} | BOOK I.C."/>
    {% endif %}
{% endwith %}
<!-- ３．ページ説明文 -->
{% with breadcrumb|length as el_ %}
    {% if el_ == 1 %}<meta property="og:description" content="BOOK I.C. ～本の感想を創造するブログ～,本の感想を書くブログです！。小説を読み終えた人向けに、思ったこと等の感想をこのブログにUPしています！。タグ | 小説,文庫,ブログ,感想,読書,書評,書籍,記録,ネタバレ | BOOK I.C."/>
    {% elif el_ == 3 %}
        {% if breadcrumb.1.title_info == "書籍一覧" %}<meta property="og:description" content="{{breadcrumb.2.title_info}} | BOOK I.C. ～本の感想を創造するブログ～, — あらすじ — {{ book_info.contents_synopsis }}"/>
        {% elif breadcrumb.1.title_info == "その他 記事" %}<meta property="og:description" content="{{breadcrumb.2.title_info}} | BOOK I.C. ～本の感想を創造するブログ～,{{ other_info.contents_synopsis }}"/>
        {% endif %}
    {% endif %}
{% endwith %}
<!-- ４．URL -->
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<!-- ５．サイト名 -->
<meta property="og:site_name" content="BOOK I.C." />
<!-- ６．その他 -->
{% comment %} <meta property="article:publisher" content="(6)FacebookページのURL" /> {% endcomment %}
<!-- ７．表示画像 -->
<meta property="og:image" content="{% static "static/book-ic.png" %}" />

<!-- Twitterカードの設定 -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@BOOK_IC" />

