{% load static %}
<div class="my-h-100 my-w-100">
  <a d-flex class="my-h-100 my-w-100">
  </a>
<div class="d-flex my-h-100 my-w-100">
    <div class="ml-auto mt-auto mb-0 my-w-50 mr-0 ml-auto" style="">
        <a href="{{amazon_url_text}}" class="my-w-100" target="_blank" style="z-index: 100; position: relative;" >
          <img
            class="my-w-100 my-h-100" style="left: auto; right: auto; background: rgba(255,255,255,.3);z-index: 100; max-height: 100px;"  src="{% static "static/amazon-ar21.svg" %}">
          </img>
        </a>
    </div>
</div>
</div>



<