
{% load split_tags %}

            <v-row
              no-gutters
            >

            <v-col
            cols="12"
            sm="10"
            md="10"
            lg="8"
            align-self="center"
            class="mx-auto mb-14"
            style=""
          >
        
      
          <v-card
            class="mx-auto my-bg-color my-border-width my-border-color"
            outlined
            tile

            >
{% comment %}             
            {% with request.path|split:"/" as skills %}
              {{skills.1}}
            {% endwith %}
         {% endcomment %}

            <v-card-text class="py-0 my-text-color">

            </v-card-text>
      
      
            <v-card-title class="py-0 px-0 mx-0">
              <p class="text-h2 my-text-color text-h6 text-md-h5 py-0 px-0 my-2 mx-auto" style="letter-spacing:3px;">
                {% comment %} <v-icon size="40">mdi-format-list-bulleted</v-icon> {% endcomment %}
                －目次－
              </p>
            </v-card-title>
      
            <v-divider></v-divider>


            <!-- mokuji -->
            {% if url_sub == "書籍一覧" %}
            <v-card-text class="pl-6 pr-10 py-6 pb-8">

              <div class="pb-1 {% if contents_page != "1" %}my-opacity{%endif%}">
                <p class="d-inline-block my-text-color text-h6_5 text-md-h6 text-md-h5 mt-2 mt-md-4 mb-1 mb-md-2 pr-2 font-weight-black">1.</p><p class="d-inline-block text-my-text-color my-contents-title text-h6_5 text-md-h6 text-md-h5 mt-2 mt-md-4 mb-1 mb-md-2" style="width: 85%">
                  <a style="text-decoration: none;" href="{% url 'book:book_info_content' book_info.post_day 1 %}#title">{{ book_info.title }}</a>
                </p>
              </div>
              <div class="pb-0 {% if contents_page != "1" %}my-opacity{%endif%}" style="justify-content: center;">                  
                <p class="my-text-color text-h7 text-md-h6_5 text-md-h6 pl-3 mb-0 d-inline">
                  <i aria-hidden="true" class="v-icon notranslate mdi mdi-menu-right theme--light" style="font-size: 25px;"></i>
                </p>
                <a class="d-inline my-text-color text-h7 text-md-h6_5 text-md-h6" style="text-decoration: none;" href="{% url 'book:book_info_content' book_info.post_day 1 %}#arasuji">あらすじ</a>
              </div>              

              {% for item in book_info_contents %} 
                {% if item.0 == "title" %}
                <div class="pb-1 {% if contents_page != item.2 %}my-opacity{%endif%}">
                  <p class="d-inline-block my-text-color text-h6_5 text-md-h6 text-md-h5 mt-2 mt-md-4 mb-1 mb-md-2 pr-2 font-weight-black {% if contents_page != item.2 %}my-opacity{% endif %}">{{item.2}}.</p><p class="d-inline-block my-text-color my-contents-title text-h6_5 text-md-h6 text-md-h5 mt-2 mt-md-4 mb-1 mb-md-2" style="width: 85%">
                    {% comment %} <a style="text-decoration: none;" href="{% url 'book:book_info_content' book_info.post_day item.2 %}#{{forloop.counter}}">{{ item.1 }}</a> {% endcomment %}
                    <a class="{% if contents_page != item.2 %}my-opacity{% endif %}" style="text-decoration: none;" href="{% url 'book:book_info_content' book_info.post_day item.2 %}#{{ item.3 }}">{{ item.1 }}</a>
                  </p>


                </div>
                {% elif item.0 == "subtitle" %}
                  <div class="pb-0 {% if contents_page != item.2 %}my-opacity{% endif %}" style="justify-content: center;">                  
                    <p class="my-text-color text-h7 text-md-h6_5 text-md-h6 pl-3 mb-0 d-inline">
                      <i aria-hidden="true" class="v-icon notranslate mdi mdi-menu-right theme--light" style="font-size: 25px;"></i>
                    </p>
                    <a class="d-inline my-text-color text-h7 text-md-h6_5 text-md-h6" style="text-decoration: none;" href="{% url 'book:book_info_content' book_info.post_day item.2 %}#{{ item.3 }}">{{item.1}}</a>
                  </div>
                {% endif %}
              {% endfor %}
            </v-card-text>
            {% else %}

            <v-card-text class="pl-6 pr-10 py-6 pb-8 my_mokuji">  
            </v-card-text>
            {% endif %}

      
            <v-spacer></v-spacer>
        
      

          </v-card>
        </v-col>
</v-row>