{% load static %}

{% load get_img_src %}
{% load get_tag_el %}


<v-container id="my_container" class="my-16">
  <v-row
    no-gutters
  >
  <v-col
      cols="12"
      align-self="center"
      class="mx-auto pb-0"
    >
  <p class="text-h2 my-text-color-title text-h5 text-md-h4" style="letter-spacing:3px;">
    <v-icon size="40" >mdi-crown</v-icon>

    ランキング（週間）</p>
</v-col>
  <v-col
      cols="12"
      md="7"
      align-self="center"
      class="mx-auto"
    >
    <v-card
    elevation="0"
    class="my-auto my-bg-color my-h-100"
  >

  <v-responsive
  :aspect-ratio="16/9"
  :aspect-ratio-md="1/1"
  class="my-auto my-h-100"
  >
  <div class="ma-auto d-flex my-h-100 my-auto">

  {% comment %} <carousel-3d class="my-auto" :controls-visible="true" :border="3" :space="100" :clickable="true" :autoplay="false" :autoplayHoverPause="true" :autoplay="true" :width="100" :height="141"> {% endcomment %}
    {% comment %} <carousel-3d class="my-auto" :controls-visible="true" :border="3" :space="100" :clickable="true" :autoplay="false" :autoplayHoverPause="true" :autoplay="true" :width="130" :height="177"> {% endcomment %}
      <carousel-3d class="my-auto my-border-color my-h-300" :controls-visible="true" :border="2" :space="100" :clickable="true" :autoplay="true" :autoplayHoverPause="true" :autoplay="true" :width="130" :height="201">
        {% comment %} <carousel-3d class="my-auto" :controls-visible="true" :border="3" :space="100" :clickable="true" :autoplay="false" :autoplayHoverPause="true" :autoplay="true" :width="150" :height="212"> {% endcomment %}
        {% comment %} <carousel-3d class="my-auto" :controls-visible="true" :border="3" :space="100" :clickable="true" :autoplay="false" :autoplayHoverPause="true" :autoplay="true" :width="200" :height="282"> {% endcomment %}
    
    <slide class="my-border-color rounded-lg" v-for="(slide, i) in slides" :index="i" >
      <div class="d-flex my-bg-color-glay my-border-bottom">
        
        <div class="ma-auto my-text-color-light-glay">
        [[ i+1 ]]位
        </div>
      </div>

      <figure>


          <div class="my-img-small" style="height:500px;">
              






          <v-img
          :src="slide.img_url"
          :key="componentKey"
          
          
          lazy-src="{% static "static/book-ic_picture_wings.svg" %}"
          {% comment %} aspect-ratio="1" {% endcomment %}
          class="lighten-2"
          transition="scale-transition"
          >
          
          <a :href="slide.url" class="my-w-100 my-h-100" style="position: absolute">
            {% comment %} <div v-html="slide.amazon_url"> {% endcomment %}
            
            <div>
            </div>
          </a>
          
          <template v-slot:placeholder>
          <v-row
            class="fill-height ma-0"
            align="center"
            justify="center"
          >
            <v-progress-circular
              indeterminate
              color="grey lighten-5"
            ></v-progress-circular>
          </v-row>
          </template>
          
          
          <!-- amazon_url -->          <!-- amazon_url -->          <!-- amazon_url -->
          {% comment %} <div v-html="slide.amazon_url"><div> {% endcomment %}
                    <!-- amazon_url -->          <!-- amazon_url -->          <!-- amazon_url -->
          
          
          </v-img>

          













          <figcaption class="pa-1 d-flex" style="height: 25%;">
            <div class="ma-auto">
            <a :href="slide.url" class="my-text-color-light-glay text-decoration-none">
              <div>
                [[ slide.title]]
              </div>
              {% comment %} 
                <div class="ms-1 my-text-color-light-glay text-decoration-none">
                  <v-icon class="my-text-color-light-glay" color="#9A9" size="17">mdi-eye</v-icon>
                    XXX,XXX(pre)
                </div>
              {% endcomment %}
              </a>            
            </div>
          </figcaption>



    </figure>



    </slide>
</carousel-3d>
</div>

</v-responsive>


</v-card>



<p class="text-right"><a>上位 5件表示</a></br><a>（※現在 記事数少ないため日付順）</a></p>


</v-col>

</v-row>
</v-container>        

