<template>
    <v-card tile elevation="0" class="{{ bg_color }} mx-auto">

      <v-data-table
      class="{{ bg_color }} my-table-sitemap mx-auto"
        style="width: 480px;
        border-collapse: collapse;
        white-space: nowrap;"
        :headers="headers3"
        :items="desserts3"
        :show-rows-border="false"
        hide-default-header
        hide-default-footer
        hover= "false"
        dense
        loading-text="$vuetify.dataIterator.loadingText"
        mobile-breakpoint="50"

      >
    
    
      <template #item.title1="{ item }" class="">
        
        <a target="_blank" :href="item.url1" class="v-breadcrumbs__item {{ text_color }} my-border-bottom {{ border_color }}">
            <v-icon size="22px">[[ item.icon1 ]]</v-icon>
                [[ item.title1 ]]
        </a>
    
      </template>


      <template #item.title2="{ item }" class="">
        
            <a target="_blank" :href="item.url2" class="v-breadcrumbs__item {{ text_color }} my-border-bottom {{ border_color }}">
            <v-icon size="22px">[[ item.icon2 ]]</v-icon>
          [[ item.title2 ]]
        </a>
    
</template>

      <template #item.title3="{ item }" class=" my-table-width-max">
        
            <a target="_blank" :href="item.url3" class="v-breadcrumbs__item {{ text_color }}">
            <v-icon size="22px">[[ item.icon3 ]]</v-icon>
          [[ item.title3 ]]
        </a>
    
</template>

    
    </v-data-table>
    </v-card>
  </template>