{% comment %} {% load static %} {% endcomment %}




<!DOCTYPE html>
<html>


<!-- head -->
{% include 'block/head.html' %}
<style>
  [v-cloak] {
    display: none;
  }
</style>


<body>
  {% if  DEBUG == False %}
    {% include 'block/tag_google_body.html' %}
  {% endif %}

  <div id="app" v-cloak>
    <v-app id="inspire" class="my-bg-color"  v-cloak>


        <!-- toolbar -->
        {% include 'block/toolbar.html' %}


        {% comment %} {% load static %} {% endcomment %}



      

        <v-container id="my_container" class="mx-auto"> 

          {% comment %} {% load cache %} {% endcomment %}
          {% comment %} {% cache 600 content %} {% endcomment %}
        <!-- content -->
        {% block contents %}
        {% endblock %}
          {% comment %} {% endcache %} {% endcomment %}
        </v-container>
        

        <v-row no-gutters>
          <v-col
            cols="12"
            sm="12"
            lg="11"
            class="py-10 px-2"
          >
          {% include 'google/adsense_multiplex.html' %}
          </v-col>
      </v-row>

        <v-divider class="py-10 my-10" style="border-color: #f5f8f5; height: 30vh;"></v-divider>

        <!-- footer -->
        {% include 'block/footer.html' %}

    </v-app>    
  </div>
</body>




<!-- style -->
{% include 'scripts_css_comp/style.html' %}

<!-- components-->
{% include 'scripts_css_comp/components.html' %}


<!-- script -->
{% include 'scripts_css_comp/script.html' %}

<script>
  [].forEach.call(document.querySelectorAll('.adsbygoogle'), function(){
      (adsbygoogle = window.adsbygoogle || []).push({});
  });
</script>

<style scoped>
  #app /deep/ .v-application {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }
  #app /deep/ .text-md-h6 {
    font-family: 'Sawarabi Gothic', 'Noto Sans JP','Noto Sans',sans-serif !important;
  }  
</style>
</html>
