{% load static %}




<!DOCTYPE html>
<html>


<!-- head -->
{% include 'block/head.html' %}



<body>
  {% if  DEBUG == False %}
    {% include 'block/tag_google_body.html' %}
  {% endif %}

  <div id="app" class>
    <v-app id="inspire" class="my-bg-color">

        <!-- toolbar -->
        {% include 'block/toolbar.html' %}

        <v-container id="my_container" class="mx-auto">


        <!-- content -->
        {% block contents %}
        {% endblock %}

        </v-container>
        
        <!-- サンプル -->
        {% if DEBUG == True %}
        {% include 'sample/sample.html' %}
        {% endif %}

        {% comment %} 
        <v-row
        no-gutters
        >
          <v-col
          cols="12"
          align-self="center">

        <!-- google_Adsense_Multiplex -->
        {% include 'google/adsense_multiplex.html' %}

          </v-col>
        </v-row>
         {% endcomment %}

        <!-- footer -->
        {% include 'block/footer.html' %}

    </v-app>    
  </div>
</body>






<!-- components-->
{% include 'scripts_css_comp/components.html' %}


<!-- script -->
{% include 'scripts_css_comp/script.html' %}

<!-- style -->
{% include 'scripts_css_comp/style.html' %}

</html>
