
{% extends 'book/_block_static.html' %}

{% block contents %}

  <!-- BOOK DB -->
  {% include 'text/text_title_book-ic.html' with text="BOOK I.C." text_sub="～本の感想を創造するブログ～" %}


{% comment %} 
  <!-- ランキング -->
  {% include 'block/ranking.html' %}
 {% endcomment %}

  <!-- breadcrumbs -->
  {% include 'block/breadcrumbs.html' with aueiu=book_info.title%}

  <!-- title -->
  {% comment %} {% include 'text/text_subtitle.html' with text="最近の投稿" icon_name="mdi-book-open-page-variant" %} {% endcomment %}
  {% include 'book_info/contents_title.html' with text="最近の投稿" %}

  <!-- card -->
  {% include 'block/card.html' %}


{% endblock %}

