
{% extends 'book/_block_static.html' %}

{% block contents %}



    <!-- BOOK DB -->
    <div style="height:500px;width:500px;padding:10px;margin:auto;display:flex;">
      <div style="margin:auto;">

<div>
  
        <div class="q-py-xl my-container-max-width">
          <div class="d-flex">
          <p id="my-letter-spacing-3" class="d-inline-flex mx-auto text-center my-font-weight-title text-h5 text-md-h4 my-text-color-title my-letter-spacing-3">
            <v-icon size="36" class="mr-5" style="align-items: center;">mdi-book-open-page-variant</v-icon>
            {{book_info.title}}</p>
          </div>
        </div>
  

</div>

</div>
</div>
<!-- bar -->
    {% include 'block/bar.html' %}



      <!-- contents -->
        <v-row no-gutters >

            <v-col cols="12" class="mx-auto px-0">
              {% comment %} <a class="text-my-text-color my-contents-title text-h5 text-md-h4 mb-0"> {% endcomment %}
                    <!-- title -->
              {% comment %} </a> {% endcomment %}
              <p class="my-text-color-title mb-1">
                <v-icon size="20">mdi-book-edit-outline</v-icon>
                  {{ book_info.post_day | safe }}
                  {% comment %} <v-icon size="20" class="pl-2">mdi-refresh</v-icon> {% endcomment %}
                  {% comment %} {{ book_info.update_day | safe }}    {% endcomment %}
              </p>        
{% comment %}                 
            <v-col cols="12" sm="11" md="9" lg="6" class="mt-16 mx-auto px-0" >
              <v-img
              >{{ book_info.book_img_url | safe }}</v-img>  
            </v-col> {% endcomment %}
            <v-col cols="10" class="mx-auto px-0 pt-10">
            <div class="kattene">
              <div class="kattene__imgpart">
                {% comment %} <a target="_blank" rel="noopener" href="【メインのURL】"> {% endcomment %}
                {% comment %} <img src="" width="160" height="160" loading="lazy" class="kattene__shadow"> {% endcomment %}
                <div>
                  {% spaceless %}
                  {{ book_info.book_img_url | safe}}
                  {% endspaceless %}
                </div>
    
    
    
                  {% comment %} <a href="https://www.amazon.co.jp/%E4%BD%95%E3%82%82%E3%81%8B%E3%82%82%E6%86%82%E9%AC%B1%E3%81%AA%E5%A4%9C%E3%81%AB-%E9%9B%86%E8%8B%B1%E7%A4%BE%E6%96%87%E5%BA%AB-%E4%B8%AD%E6%9D%91-%E6%96%87%E5%89%87/dp/4087467988?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=22P8P409551PY&keywords=%E4%BD%95%E3%82%82%E3%81%8B%E3%82%82%E6%86%82%E9%AC%B1%E3%81%AA%E5%A4%9C%E3%81%AB&qid=1664892669&qu=eyJxc2MiOiIxLjA2IiwicXNhIjoiMC40NiIsInFzcCI6IjAuNDkifQ%3D%3D&s=instant-video&sprefix=%E4%BD%95%E3%82%82%E3%81%8B%E3%82%82%E6%86%82%E9%AC%B1%E3%81%AA%E5%A4%9C%E3%81%AB%2Cinstant-video%2C178&sr=1-1-catcorr&linkCode=li2&tag=bookic-22&linkId=3b66b22a86ce0d296bde27c76521a4b0&language=ja_JP&ref_=as_li_ss_il" target="_blank"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4087467988&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=bookic-22&language=ja_JP" ></a> {% endcomment %}
    
                {% comment %} </a> {% endcomment %}
              </div>
{% comment %} 
              <div class="kattene__infopart">
                <div class="kattene__btns __four" class="d-flex">
                  <div class="d-flex"><v-btn text outlined class="mx-auto my-w-100">
                    <a class="text-decoration-none" target="_blank" href="{{ book_info.amazon_url }}">Amazon</a></v-btn>
                  </div>
                  
                  <div class="d-flex"><v-btn text outlined class="mx-auto my-w-100">
                    <a class="text-decoration-none" target="_blank" {% if book_info.kindle_url != none %}href="{{ book_info.kindle_url }}"{% endif %}>{% if book_info.kindle_url != none %}Kindle{% else %}none{% endif %}</a></v-btn>
                  </div>
    
                  <div class="d-flex"><v-btn text outlined class="mx-auto my-w-100">
                    <a class="text-decoration-none" target="_blank" href="{{ book_info.rakuten_url }}">楽天</a></v-btn>
                  </div>
    
                  <div class="d-flex"><v-btn text outlined class="mx-auto my-w-100">
                    <a class="text-decoration-none" target="_blank" {% if book_info.rakuten_kobo_url != none %}href="{{ book_info.rakuten_kobo_url }}"{% endif %}>{% if book_info.rakuten_kobo_url != none %}楽天KOBO{% else %}none{% endif %}</a></v-btn>
               
                  </div>
                </div>                
              </div>

               {% endcomment %}
          </div>
        </v-col>



            <v-col cols="12" sm="11" md="10" lg="8" class="mx-auto py-10">         <!-- table -->
              <div style="height:450px;width:450px;padding:10px;margin:auto;display:flex;">
                <div style="margin:auto;">
                  <v-simple-table dense class="my-bg-color my-border my-auto">
                <template v-slot:default>
                  <tbody >
                    <tr>
                      <td class="text-center font-weight-bold">タイトル</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center font-weight-bold">{{ book_info.title }}</td>
                    </tr>
                    <tr>
                      <td class="text-center font-weight-bold">カテゴリー</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center" style="color:{{book_info.category_info.color_hex}}">
                      {% comment %}                         
                        <v-btn color="{{book_info.category_info.color_hex}}" class="ma-1" elevation="1" outlined rounded small>
                          <form class="d-inline-block" action="{% url 'book:book' %}" method="post">{% csrf_token %}
                            <input type="submit" href="{% url "book:book" %}" value="{{book_info.category_info.get_category_display}}">
                          </form>
                        </v-btn> {% endcomment %}

                        {{book_info.category_info.get_category_display}}
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center font-weight-bold">著者</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center">
                      {% comment %}                         
                        <v-btn color="#464646" class="ma-1" elevation="1" outlined rounded small>
                          <form class="d-inline-block" action="{% url 'book:book' %}" method="post">{% csrf_token %}
                          <input type="submit" href="{% url "book:book" %}" value="{{book_info.author_info}}">
                        </form>
                      </v-btn> {% endcomment %}

                      {{book_info.author_info}}
                    </td>
                    </tr>
                    <tr>
                      <td class="text-center font-weight-bold">発売日</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center">{{ book_info.issue | safe }}</td>
                    </tr>
                    <tr>
                      <td class="text-center font-weight-bold">ページ数</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center">{{ book_info.pages}}</td>
                    </tr>
                    <tr>
                      <td class="text-center font-weight-bold">シリーズ情報</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center">{{ book_info.series_info}}</td>
                    </tr>
                    <tr>
                      <td class="text-center font-weight-bold">出版社</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center">
                      {% comment %}                         
                        <v-btn color="#464646" class="ma-1" elevation="1" outlined rounded small>
                          <form class="d-inline-block" action="{% url 'book:book' %}" method="post">{% csrf_token %}
                            <input type="submit" href="{% url "book:book" %}" value="{{book_info.publisher_info}}">
                          </form>
                        </v-btn> {% endcomment %}

                        {{book_info.publisher_info}}
                      </td>
                    </tr>
                    {% comment %} <tr>
                      <td class="text-center font-weight-bold">完読</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center">{{ book_info.fin }}</td>
                    </tr>
                    <tr> {% endcomment %}
                      <td class="text-center font-weight-bold">この記事の閲覧数</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center">
                        <a class="ms-1 me-3 py-2">
                          <v-icon color="#9A9" size="20">mdi-eye</v-icon>
                          XXX,XXX(準備中...)
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center font-weight-bold">ISBNコード</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center">{{ book_info.isbn13}}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </div>
          </div>
        </v-col>
            


          <v-col cols="12" class="mx-auto px-1 text-center my-10" >
            <div style="height:450px;width:450px;padding:10px;">
            {% include 'book_info/contents_subtitle.html' with text='あらすじ' ty="arasuji" %}
            {% include 'book_info/contents_text.html' with text=book_info.contents_synopsis %}
            </div>
          </v-col>
          

            
        </v-row>
      {% comment %} </v-container> {% endcomment %}






{% endblock %}  

