
{% extends 'book/_block_static.html' %}

{% block contents %}



  <!-- title -->
  {% include 'text/text_title.html' with text="書籍一覧" icon_="mdi-bookshelf" %}

  <!-- bar -->
  {% include 'block/bar.html' %}
  
  <!-- breadcrumbs -->
  {% include 'block/breadcrumbs.html' with aueiu=book_info.title%}



  <!-- text_title-->
  {% comment %} {% include 'text/text_subtitle.html' with text="フィルター" icon_name="mdi-magnify-expand" %} {% endcomment %}
  


  <!-- filter -->
  {% comment %} {% include 'block/form.html' %} {% endcomment %}


  <!--
  <form class="myform mx-auto py-3 fs-6" action="" method="POST">
    {% if form_book.errors %}
        <div class="errorlist">
            {% for errors in form_book.errors.values %}
                {% for error in errors %}
                    {{ error }}<br>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
    {% for field2 in myform %}
    {{field2.0.id_for_label}}
        {% for field in field2 %}
        {% if "high" not in field.id_for_label %}
        <div>
        <div class="d-inline-block mb-1">
        {% endif %}
            {% comment %} {{field.id_for_label}} {% endcomment %}
            {{ field.label_tag }}
            {% if "high" not in field.id_for_label %}
            ：
                {% comment %} <ul class="d-inline-block form-inline px-0 mb-0"> {% endcomment %}
            {% endif %}
            {% if "low" in field.id_for_label and "page" not in field.id_for_label %}
                <ul class="d-inline-block form-inline mb-1 ps-0">
            {% endif %}


                    {{ field }}
            {% if field.help_text %}
                <span class="helptext">{{ field.help_text }}</span>
            {% endif %}
            
            {% if "high" in field.id_for_label %}
                </ul>
            {% endif %}

        {% if "low" not in field.id_for_label %}
        </div>
        </div>
        {% endif %}
    {% endfor %}
    {% endfor %}


<div class="d-grid gap-2 d-md-flex justify-content-md-end py-3">
  <button class="btn bg-white btn-outline-teal btn-sm border-teal" type="submit" >検索</button>
</div>


    {% csrf_token %}
</form>
-->



  <!-- text_title-->
  {% comment %} {% include 'text/text_subtitle.html' with text="書籍一覧" icon_name="mdi-bookshelf" %} {% endcomment %}
  {% include 'book_info/contents_title.html' with text="書籍一覧" %}


  <div class="d-flex justify-end my-w-100 mb-3">
    
    <v-btn 
    color="#455045"
    class="mr-4"
    outlined
    v-on:click="show_card = !show_card, show_list = !show_list"
    >
    <v-icon>mdi-format-list-bulleted</v-icon>
      リスト
    </v-btn>


  </div>



  <!-- card -->
  <div v-show="show_card">
    {% comment %} {% include 'block/card_small.html' %} {% endcomment %}
    {% include 'block/card_judge.html' %}
  </div>




  {% comment %} {% include 'book_info/contents_subtitle.html' with text="[検索] 書籍一覧" ty=3 %} {% endcomment %}
    


  <template>
    <v-card tile elevation="0"  class="my-bg-color" v-show="show_list">
        {% include 'book_info/contents_subtitle.html' with text="[リスト] 書籍一覧" %}
        <v-text-field
        style="width: 45%; max-width: 460px;"
        class="my-bg-color mr-0 ml-auto"
        color="#1aa179"
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      <v-data-table
      class="my-bg-color"
        style="width: 100%;
        border-collapse: collapse;
        white-space: nowrap;"
        :headers="headers"
        :items="desserts"
        :search="search"
        :sort-by="['post_day']"
        :sort-desc="[true]"
        hide-default-footer
        dense
        loading-text="$vuetify.dataIterator.loadingText"
        mobile-breakpoint="50"
      >
      <template #item.title="{ item }">
        <a target="_self" :href="item.url" class="v-breadcrumbs__item {{ text_color }} my-border-bottom">
        <a target="_self" :href="item.url" class="v-breadcrumbs__item {{ text_color }}">
          {% comment %} <v-icon size="22px">mdi-book-open-page-variant</v-icon> {% endcomment %}
      [[ item.title ]]
    </a>
    </template>    

    <template #item.category="{ item }" class='{ item.text_color_rgb }'>
        <a :class=[[item.text_color_rgb]]>
            [[item.category]]
    </a>
    </template>    

    


    </v-data-table>
    </v-card>
    <v-divider></v-divider>

  </template>


{% endblock %}