
{% extends 'book/_block_static.html' %}

{% block contents %}



    <!-- BOOK DB -->
    {% include 'text/text_title.html' with text=book_info.title %}

    <!-- breadcrumbs -->
    {% include 'block/breadcrumbs.html' with aueiu=book_info.title%}
        
    
    <!-- mokuji -->
    {% include 'block/mokuji.html' %}


      <!-- contents -->
        <v-row no-gutters >

            <v-col cols="12" class="mx-auto px-0">
              {% comment %} <a class="text-my-text-color my-contents-title text-h5 text-md-h4 mb-0"> {% endcomment %}
                {% include 'book_info/contents_title.html' with text=book_info.title ty="title" %}
                <!-- title -->
              {% comment %} </a> {% endcomment %}
              <p class="my-text-color-title mb-1">
                <v-icon size="20">mdi-book-edit-outline</v-icon>
                  {{ book_info.post_day | safe }}
                  <v-icon size="20" class="pl-2">mdi-refresh</v-icon>
                  {{ book_info.update_day | safe }}   
              </p>        
                
            <v-col cols="12" sm="11" md="9" lg="6" class="mt-16 mx-auto px-0" >
              <v-img
              >{{ book_info.amazon_url | safe }}</v-img>  
            </v-col>

            <v-col cols="12" sm="11" md="10" lg="8" class="mx-auto py-10">         <!-- table -->
              <v-simple-table dense class="my-bg-color my-border">
                <template v-slot:default>
                  <tbody>
                    <tr>
                      <td class="text-center font-weight-bold">タイトル</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center font-weight-bold">{{ book_info.title }}</td>
                    </tr>
                    <tr>
                      <td class="text-center font-weight-bold">カテゴリー</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center">
                        <v-btn color="{{book_info.category_info.color_hex}}" class="ma-1" elevation="1" outlined rounded small>
                          <form class="d-inline-block" action="{% url 'book:book' %}" method="post">{% csrf_token %}
                            <input type="submit" href="{% url "book:book" %}" value="{{book_info.category_info.get_category_display}}">
                          </form>
                        </v-btn>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center font-weight-bold">著者</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center">
                        <v-btn color="#464646" class="ma-1" elevation="1" outlined rounded small>
                          <form class="d-inline-block" action="{% url 'book:book' %}" method="post">{% csrf_token %}
                          <input type="submit" href="{% url "book:book" %}" value="{{book_info.author_info}}">
                        </form>
                      </v-btn>
                    </td>
                    </tr>
                    <tr>
                      <td class="text-center font-weight-bold">発売日</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center">{{ book_info.issue | safe }}</td>
                    </tr>
                    <tr>
                      <td class="text-center font-weight-bold">ページ数</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center">{{ book_info.pages}}</td>
                    </tr>
                    <tr>
                      <td class="text-center font-weight-bold">シリーズ情報</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center">{{ book_info.series_info}}</td>
                    </tr>
                    <tr>
                      <td class="text-center font-weight-bold">出版社</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center">
                        <v-btn color="#464646" class="ma-1" elevation="1" outlined rounded small>
                          <form class="d-inline-block" action="{% url 'book:book' %}" method="post">{% csrf_token %}
                            <input type="submit" href="{% url "book:book" %}" value="{{book_info.publisher_info}}">
                          </form>
                        </v-btn>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center font-weight-bold">完読</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center">{{ book_info.fin }}</td>
                    </tr>
                    <tr>
                      <td class="text-center font-weight-bold">この記事の閲覧数</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center">
                        <a class="ms-1 me-3 py-2">
                          <v-icon color="#9A9" size="20">mdi-eye</v-icon>
                          XXX,XXX,XXX
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center font-weight-bold">ISBNコード</td>
                      <td width="10" class="text-center font-weight-bold px-0">：</td>
                      <td class="text-center">{{ book_info.isbn}}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-col>
            


          <v-col cols="12" class="mx-auto px-0 text-center  my-10" >
            {% include 'book_info/contents_subtitle.html' with text='あらすじ' ty="arasuji" %}
            {% include 'book_info/contents_text.html' with text=book_info.contents_synopsis %}
          </v-col>
          

          <v-col cols="12" class="mx-auto px-0 py-10">

            {% for contents_ in book_info_contents %}
              {% if contents_.0 != "title" and contents_.0 != "title" and contents_.0 != "blockquote" %}
                <div class="px-3">
              {% endif %} 

              {% if contents_.0 == "title" %}
                {% include 'book_info/contents_title.html' with text=contents_.1 ty=forloop.counter %}
                
              {% elif contents_.0 == "subtitle" %}
                {% if count_subtitle ==  forloop.counter %}
                  {% include 'google/adsense_article.html' %}
                {% endif %}
                {% include 'book_info/contents_subtitle.html' with text=contents_.1  ty=forloop.counter %}
              {% elif contents_.0 == "text" %}
                {% include 'book_info/contents_text.html' with text=contents_.1 %}
              {% elif contents_.0 == "blockquote"%}
                {% include 'book_info/contents_blockquote.html' with text=contents_.1 page=contents_.2 %}
              {% endif %} 

              {% if contents_.0 != "title" and contents_.0 != "title" and contents_.0 != "blockquote"%}
                </div>
              {% endif %}      
      
            {% endfor %}

          </v-col>
            
        </v-row>
      </v-container>


{% endblock %}

