
{% extends 'book/_block_static.html' %}

{% block contents %}

  <!-- BOOK DB -->
  {% include 'text/text_title.html' with text="問い合わせ" icon_="mdi-email-outline"%}



  <!-- breadcrumbs -->
  {% include 'block/breadcrumbs.html' %}


  {% include 'book_info/contents_title.html' with text="問い合わせ" %}
  {% comment %} {% include 'book_info/contents_subtitle.html' with text="準備中...(2022/10/10)" ty=1 %}
  {% include 'book_info/contents_text.html' with text="準備中...(2022/10/10)" %} {% endcomment %}








  <div class="my-container-max-width" style="height: 20vh;"></div>

    <v-row
    no-gutters
  >

  <v-col
  cols="12"
  md="10"
  lg="8"
  align-self="center"
  class="mx-auto mb-14"
>


<v-card
  class="mx-automy-border-color"
  
  

  >


  <template>
    <v-form
      ref="form"
      color="#1aa179"
      v-model="valid"
      lazy-validation
      method="post"
      class="pa-5"
    >

    {% csrf_token %}
    {{ form.non_field_errors }}

    <v-text-field
        v-model="name"
        color="#1aa179"
        :counter="20"
        :rules="nameRules"
        label="ニックネーム"
        name="name"
        id="content_name"
        required
      ></v-text-field>
{% comment %}   
      <v-text-field
        v-model="email"
        color="#1aa179"
        :rules="emailRules"
        label="メールアドレス"
        name="mail_add"
        id="content_mail_add"
        required
      ></v-text-field> {% endcomment %}
  
      <v-textarea
        v-model="message"
        color="#1aa179"
        :counter="2047"
        {% comment %} :rules="[v => !!v || 'Item is required']" {% endcomment %}
        label="問い合わせ内容"
        name="inquiry"
        id="content_text"
        required
      ></v-textarea>


{% comment %}       
      <div  class="mb-3 mt-3 d-flex justify-end pt-5">
        <v-btn
          color="#1aa179"
          class="mr-4"
          id="search_clear"
          outlined
          type="submit"
              >
          送信
        </v-btn>
      </div> {% endcomment %}




    </v-form>
  </template>



</v-card>
</v-col>
</v-row>


{% include 'book_info/contents_text.html' with text="いったん閉鎖。（2022-10-24）"%}


{% include 'book_info/contents_text.html' with text="一応メール送れるけど、まだ利便性悪いです。。（2022-10-16）"%}


 


{% endblock %}

