
{% extends 'book/_block_static.html' %}

{% block contents %}

  <!-- BOOK DB -->
  {% include 'text/text_title.html' with text="問い合わせ" icon_="mdi-email-outline"%}



  <!-- breadcrumbs -->
  {% include 'block/breadcrumbs.html' %}

  <!-- mokuji -->
  {% include 'block/mokuji.html'%}



  {% include 'book_info/contents_title.html' with text="問い合わせ" %}
  {% include 'book_info/contents_subtitle.html' with text="準備中...(2022/10/10)" ty=1 %}
  {% include 'book_info/contents_text.html' with text="準備中...(2022/10/10)" %}


{% endblock %}

