
{% extends 'book/_block_static.html' %}

{% block contents %}

  <!-- BOOK DB -->
  {% include 'text/text_title.html' with text="その他 記事" icon_="mdi-dots-horizontal-circle-outline" %}



  <!-- breadcrumbs -->
  {% include 'block/breadcrumbs.html' with aueiu=book_info.title%}

  <!-- title -->
  {% comment %} {% include 'text/text_subtitle.html' with text="その他 記事" icon_name="mdi-dots-horizontal-circle-outline" %} {% endcomment %}
  {% include 'book_info/contents_title.html' with text="その他 記事" %}


  <!-- card -->
  {% include 'block/card_small_others.html' %}


  {% comment %} <p>準備中... (2022.10.02)</p> {% endcomment %}


{% endblock %}

