
{% extends 'book/_block_static.html' %}

{% block contents %}

  <!-- BOOK DB -->
  {% include 'text/text_title.html' with text="サイトマップ" icon_="mdi-sitemap-outline" %}
  
  <!-- breadcrumbs -->
  {% include 'block/breadcrumbs.html' %}

  <!-- mokuji -->
  {% include 'block/mokuji.html' %}





  <v-row no-gutters >
    <v-col cols="12" class="mx-auto px-0 py-10">

      {% include 'book_info/contents_title.html' with text="サイトマップ" ty=1 %}




      {% include 'book_info/contents_subtitle.html' with text="サイトマップ" ty=2 %}


      {% comment %} <v-divider></v-divider> {% endcomment %}

      {% include 'block/sitemap.html' with text_color="my-text-color" bg_color="my-bg-color" border_color="my-border-color" %}


      <v-divider></v-divider>







{% comment %} 
      {% include 'book_info/contents_subtitle.html' with text="[検索] 書籍一覧" ty=3 %}
    


  <template>
    <v-card tile elevation="0"  class="my-bg-color">
        <v-text-field
        style="width: 45%; max-width: 460px;"
        class="my-bg-color mr-0 ml-auto"
        color="#1aa179"
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      <v-data-table
      class="my-bg-color"
        style="width: 100%;
        border-collapse: collapse;
        white-space: nowrap;"
        :headers="headers"
        :items="desserts"
        :search="search"
        :sort-by="['post_day']"
        :sort-desc="[true]"
        hide-default-footer
        dense
        loading-text="$vuetify.dataIterator.loadingText"
        mobile-breakpoint="50"
      ></v-data-table>
    </v-card>
    <v-divider></v-divider>

  </template>




      {% include 'book_info/contents_subtitle.html' with text="[検索] その他 記事" ty=4 %}






      <template>
        <v-card tile elevation="0" class="my-bg-color">
            <v-text-field
            style="width: 45%; max-width: 460px;"
            class="my-bg-color mr-0 ml-auto"
            color="#1aa179"
              v-model="search2"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          <v-data-table
          class="my-bg-color"
          style="width: 100%;
            border-collapse: collapse;
            white-space: nowrap;"
            :headers="headers2"
            :items="desserts2"
            :search="search2"
            :sort-by="['post_day']"
            :sort-desc="[true]"
            hide-default-footer
            dense
            loading-text="$vuetify.dataIterator.loadingText"
            mobile-breakpoint="50"
          ></v-data-table>
        </v-card>
        <v-divider></v-divider>

      </template>
 {% endcomment %}




{% endblock %}

